.menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  
  
}

.menu-icon img {
  background-color: white; /* Set the color of the icon to white */
}

.selected-category {
  margin-left: 10px;
}

