
/* login.css */
/* Container styling */
.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Login form styling */
.login-section {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

/* Input styling */
.login-div-input input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button styling */
.submit-login-button {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-login-button:hover {
  background-color: #0056b3;
}

/* Message styling */
.message {
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.success {
  background-color: #4caf50;
  color: #fff;
}

.error {
  background-color: #f44336;
  color: #fff;
}

/* Link styling */
label a {
  color: #007bff;
  text-decoration: none;
  margin-left: 180px;
}

.forgot-a-password {
  text-decoration: none;
  margin-left: 150px;
  color: #007bff;
}

.forgot-a-password:hover {
  color: #0056b3;
}

label a:hover {
  color: #0056b3;
}

label p {
  margin-top: 40px;
  text-align: center;
}

.span-login {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

@media screen  and (max-width: 768px) {
  .login-section {
    margin: 10px;
      margin-top: 250px;
  }
}
